* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    background: #EFEDED;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    padding-top: 65px;
}

header {
    background: #EFEDED;
    position:fixed;
    width: 100%;
    top: 0px;
    flex-direction: row;
}

.menu {
    width: 100%;
    max-width:1000px;
    margin:auto;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}

  .menu .logo {
      display:inline-block;
      margin-right: 1em;
  }
  
  .menu .logo img {
      vertical-align: top;
      height: 70px;
  }

  .menu .menuLinks {
      display:inline-block;
      text-align: right;
  }

  .menu .menuLinks a {
      color: #454545;
      text-decoration: none;
      display: inline-block;
      padding: 1em;
      font-size: 1em;
      font-weight: bolder;
  }

  .menu .menuLinks a:hover {
      color: #D000FF;
    }

#result, #printCharacterCards {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px;
    margin-top: 30px;
    justify-content: space-around;
}
 
.characterCards, .printCharacterCards{
    border: 10px;
    background-color: aquamarine;
    margin: 15px;
    border-radius: 10px;
    cursor: pointer;
}


.characterCards .insideCards h3 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

.printCharacterCards .printCharacterCards h3 {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}