body {
    margin:0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: #EDF5E1;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

nav{
    width: 100%;
    background:#EDF5E1;
    height: auto;
    top: 0px;
    display: flex;
    position: fixed;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 70px;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li button {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #EDF5E1;
    color:#020202;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
}

ul li button:hover {
    color: #058C42;
}

#showCharacters, #showCuriosities, #showEpisodes {
    display: none;
    width: 90%;
    margin: 0px 5% 0px 5%;
    background: #EDF5E1;
}  

.center{
    width: 70%;
    margin: 0px 15% 50px 15%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
}

.center p{
    text-align: center;
    color: #020202;
}

label{
    color: #020202;
}

.select {
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 25%;
    margin: 0 45px 0 10px;
    overflow: hidden;
    background-color: #fff;
  }
  
.select select {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
}

h1 {
    margin: 100px 0 50px 0;
    color:  #058C42;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-weight: bolder;
}

#showData, #showCalculation, #showDataEpisodes {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.insideCards {
    width: 15%;
    height: 300px;
    margin: 0 0 10px 10px;
    padding: 30px 20px 0 20px;
    background-color: #0D2818;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.insideCards h3 {
    color: #32A064;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 0 0;
}

.insideCards p{
    color: #EDF5E1 ;
    font-size: 14px;
    text-align: center;
}

.percentBox{
    background-color: #0D2818;
    border-radius: 30px;
    margin-top:100px;
    padding: 20px;
    box-shadow: none;
    cursor: default;
}

.percentBox h2{
    color: #EDF5E1;
    text-align: center;
}

#curiosities1, #curiosities2, #curiosities3 {
    width:20%;
    height: 40px;
    margin: 0 30px 0 30px;
    background-color: #020202;
    color: #EDF5E1;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24);
}

#curiosities1:hover, #curiosities2:hover, #curiosities3:hover {
    background-color: #058C42;
}


@media (max-width:1024px){

    .center{
        width: 80%;
        margin: 0px 10% 50px 10%;
    }
    
    .select {
        width: 20%;
        margin: 0 50px 0 10px;
    }

    .insideCards {
        width: 20%;
        height: 400px;
        margin: 0 0 10px 10px;
        padding: 30px 20px 0 20px;
    }   

    .insideCards img{
        width: 100%;
    }

    .insideCards h3 {
        font-size: 16px;
    }
}


@media (max-width:768px) {

    #index{
        padding: 40px;
    }

    #index img {
        width: 70%;
    }

    .center{
        width: 90%;
        margin: 0px 5% 50px 5%;
    }

    .select {
        margin: 0 50px 0 10px;
    }

    .insideCards {
        height: 320px;
    } 
}

@media (max-width:670px){

    nav{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        height: 60px;
        margin-top: 10px;
    }
    
    ul {
        padding: 0;
    }

    label{
        font-size: 14px;
    }

    .select {
        width: 25%;
        margin: 0 20px 0 10px;
    }

    .insideCards {
        padding: 20px 20px 0 20px;
    }   

    .insideCards h3 {
        margin: 10px 0 0 0;
    }
    
}

@media (max-width:420px){

    ul li button {
        font-size: 14px;
    }
    
    .center p{
        font-size: 12px;
    }

    .center{
        flex-direction: column;
    }

    label{
        color: #020202;
    }
    
    .select {
        width: 50%;
        margin: 3px 0 15px 0;
    }

    .insideCards {
        width: 50%;
        height: 220px;
        margin: 0 0 10px 0;
        padding: 30px 20px 0 20px;
    }   

    .insideCards h3 {
        font-size: 14px;
    }

    .insideCards p{
        font-size: 12px;
    }

    #curiosities1, #curiosities2, #curiosities3 {
        width:50%;
        height: 30px;
        margin: 0 0 20px 0;
    }

    .percentBox{
        margin-top:50px;
    }
}
