body {
    margin:0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: #EDF5E1;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

nav{
    width: 100%;
    background:#EDF5E1;
    height: auto;
    top: 0px;
    display: flex;
    position: fixed;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

.logo{
    height: 70px;
}

ul {
    display: flex;
    list-style-type: none;
}

ul li button {
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #EDF5E1;
    color:#020202;
    border: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

ul li button:hover {
    color: #058C42;
}

#showCharacters, #showCuriosities, #showEpisodes {
    display: none;
    width: 90%;
    margin: 0px 5% 0px 5%;
    background: #EDF5E1;
}  

.center{
    width: 70%;
    margin: 0px 15% 50px 15%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
}

.center p{
    text-align: center;
    color: #020202;
}

label{
    color: #020202;
}

.select {
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 25%;
    margin: 0 45px 0 10px;
    overflow: hidden;
    background-color: #fff;
  }
  
.select select {
    width: 100%;
    height: 30px;
    cursor: pointer;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
}

h1 {
    margin: 100px 0 50px 0;
    color:  #058C42;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    font-weight: bolder;
}

#showData, #showCalculation, #showDataEpisodes {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.insideCards {
    width: 15%;
    height: 320px;
    margin: 0 0 10px 10px;
    padding: 0 0 20px 0;
    background-color: #058C42;
    border-radius: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.insideCards h3 {
    color: #EDF5E1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 10px 0;
}

.insideCards p{
    color: #EDF5E1;
    font-size: 14px;
    text-align: center;
}

.insideCards img{
    width: 100%;
    height: 60%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.moreModalBtn{
    width: 50%;
    height: 20px;
    margin: 20px 25% 0 25%;
    background-color: #EDF5E1;
    color: #020202;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.20);
    cursor: pointer;
}

.moreModalBtn:hover{
    background-color: #020202;
    color: #EDF5E1;
}

.moreModalBtn:active{
    background-color: #0D2818;
    color: #EDF5E1;
}


#curiosities1, #curiosities2, #curiosities3 {
    width:20%;
    height: 40px;
    margin: 0 30px 0 30px;
    background-color: #020202;
    color: #EDF5E1;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24);
}

#curiosities1:hover, #curiosities2:hover, #curiosities3:hover {
    background-color: #058C42;
}

a{
    color: #EDF5E1;
}

a:link, a:visited, a:hover, a:active  {
    text-decoration: none;
}


/*** ESTILO MODAL CURIOSIDADES ****/

.modalWrap1, .modalWrap2, .modalWrap3 {
    visibility: hidden;
    opacity: 0;
    margin: 0;
}
.modalWrap1:target, .modalWrap2:target, .modalWrap3:target {
    visibility:visible;
    opacity: 1;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:0;
    transition:all 1s;
}

.percentBox {
    width:50%;
    height: 50%;
    position: relative;
    margin: 10% auto;
    padding:50px;
    background-color:#058C42;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}

.percentBox h2{
    color: #EDF5E1;
    text-align: center;
    font-size: 40px;
    margin: 18% 0 0 0 ;
}

a.modalCLose {
    width: 5%;
    height: 5%;
    margin: 0 0 0 90%;
    padding:10px 10px;
    font-size: 20px;
    text-decoration: none;
    color:#EDF5E1;
} 
/*** FIN ESTILO MODAL CURIOSIDADES ***/


@media (max-width:1024px){

    .center{
        width: 80%;
        margin: 0px 10% 50px 10%;
    }
    
    .select {
        width: 20%;
        margin: 0 50px 0 10px;
    }

    .insideCards {
        width: 20%;
        height: 300px;
        margin: 0 0 10px 10px;
    }   

    .insideCards img{
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
    }

    .insideCards h3 {
        font-size: 16px;
    }

    .percentBox {
        width:50%;
        height: 25%;
        margin: 20% auto;
    }
    .percentBox h2{
        font-size: 36px;
    }
}


@media (max-width:768px) {

    #index{
        padding: 40px;
    }

    #index img {
        width: 70%;
    }

    .center{
        width: 90%;
        margin: 0px 5% 50px 5%;
    }

    .select {
        margin: 0 50px 0 10px;
    }

    .insideCards {
        height: 250px;
    } 

    .insideCards h3 {
        font-size: 14px;
    }
    .insideCards p{
        font-size: 12px;
    }

    .insideCards img{
        height: 58%;
    }

    .percentBox {
        margin: 25% auto;
    }
    .percentBox h2{
        font-size: 32px;
    }
}

@media (max-width:670px){

    nav{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }

    .logo{
        height: 60px;
        margin-top: 10px;
    }
    
    ul {
        padding: 0;
    }

    label{
        font-size: 14px;
    }

    .select {
        width: 25%;
        margin: 0 20px 0 10px;
    } 

    .insideCards {
        height: 220px;
    } 

    .insideCards h3 {
        margin: 20px 5px 10px 5px;
    }
    .insideCards p{
        font-size: 12px;
    }
    .insideCards img{
        height: 55%;
    }

    .percentBox {
        height: 30%;
        margin: 30% auto;
    }
    
    .percentBox h2{
        font-size: 28px;
        margin: 10% 0 0 0 ;
    }
    
}

@media (max-width:420px){

    ul li button {
        font-size: 14px;
    }
    
    .center p{
        font-size: 12px;
    }

    .center{
        flex-direction: column;
    }

    label{
        color: #020202;
    }
    
    .select {
        width: 50%;
        margin: 3px 0 15px 0;
    }

    .insideCards img{
        height: 55%;
    }

    .insideCards {
        width: 50%;
        height: 250px;
        margin: 0 10px 10px 10px;
        padding-bottom: 10px
    }   

    .insideCards h3 {
        font-size: 14px;
    }

    .insideCards p{
        font-size: 12px;
    }

    .insideCards img{
        height: 60%;
    }

    #curiosities1, #curiosities2, #curiosities3 {
        width:50%;
        height: 30px;
        margin: 0 0 20px 0;
    }

    .percentBox {
        height: 30%;
        margin: 45% auto;
    }
    
    .percentBox h2{
        font-size: 24px;
        margin: 15% 0 0 0 ;
    }   
}