* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1440px;
    background: #EFEDED;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

#showCharacters, #showCuriosities, #showEpisodes {
    display: none;
    width: 90%;
    margin: 0px 5% 0px 5%;
    background: #EFEDED;
}

nav{
    width: 100%;
    background: #EFEDED;
    height: 80px;
    top: 0px;
    display: flex;
    position: fixed;
    flex-direction:row;
    justify-content: space-between;
}

.menu .logo {
      display:inline-block;
  }
  
.menu .logo img {
      vertical-align: top;
      height: 70px;
}

ul {
    margin-top: 15px;
    margin-right: 40px;
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    
}

ul li button {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    font-weight: bolder;
}

ul li button:hover {
    color: #329F5B;
  }

button {
    background-color: #EFEDED;
    border: none;
    color:#3D348B;
    padding: 10px 15px;
    justify-content: center;
    font-size: 16px;
    margin: 15px 10px;
}

h1 {
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    letter-spacing: 7.2px;
    font-weight: bolder;
    color:  #3D348B;
}

.center{
    width: 50%;
    margin: 0px 25% 0px 25%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
}

#showData, #showCalculation, #showDataEpisodes {
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap; 
    margin-top: 50px;
}

label{
    color: #3D348B;
    font-weight: bold;
}

select {
    overflow: hidden;
    border:none;
    box-shadow: none;
    background-color:white;
    background-image: none;
    appearance: none;
    font-size: 15px;
    height: 30px;
    padding: 5px 8px;
    width: 25%;
    margin-top: 10px;
    color: #3D348B;
}

.insideCards, .percentBox {
    background-color: #EFEDED;
    margin: 20px;
    border-radius: 30px;
    cursor: pointer;
    padding: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
} 

.percentBox{
    background-color: #329F5B;
}

.insideCards h3 {
    color: #329F5B;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top:20px;
    margin-bottom: 10px;
}

.insideCards p{
    color: #3D348B ;
    font-size: 14px;
    text-align: center;
}

#curiosities1, #curiosities2, #curiosities3 {
    width:30%;
    background-color: #3D348B;
    border-radius: 20px;
    color: white;
}

#curiosities1:hover, #curiosities2:hover, #curiosities3:hover {
    background-color: #329F5B;
}

.percentBox h2{
    color: #EFEDED;
    text-align: center;
}


@media (max-width:768px) {
    #index{
        padding: 40px;
    }

    #index img {
        width: 70%;
    }

    .center{
        width: 100%;
        margin: 0;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
    }

    select {
        height: 30px;
        padding: 5px 8px;
        width: 50%;
        margin: 10px 0 20px 0;
        color: #3D348B;
    }

    nav{
        width: 100%;
        margin: 0;
        background: #EFEDED;
        height: 80px;
        display: flex;
        position: fixed;
        flex-direction:row;
    }

    .menu .logo {
    max-width: 100%;
    display: flex;
    justify-content: center;
    }

    .menu .logo img {
    height: 70px;
    }

    ul {
        margin-top: 15px;
        margin-right: 30px;
        justify-content: space-between;
        font-size: 17px;
        list-style-type: none;
        display: flex;
    }

    #curiosities1, #curiosities2, #curiosities3 {
        width:30%;
        background-color: #3D348B;
        border-spacing: 20px;
        border-radius: 20px;
        color: white;
    

}

@media (max-width:320px){

    nav{
        width: 100%;
        margin: 0;
        background: #EFEDED;
        height: 200px;
        display: flex;
        position: fixed;
        flex-direction:column;
    }

    .menu .logo {
        max-width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .menu .logo img {
        height: 50px;
    }

    ul {
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
    }

    ul li button {
        max-width: 100%;
        width: 320px;
        margin: 0;
        padding-top: 10px;
        font-size: 14px;
    }

    #characters{
        border-top: 2px solid black;
    }

    #curiosities{
        border-bottom: 2px solid black;
        border-top: 2px solid black;
    }

    #episodes{
        border-bottom: 2px solid black;
    }

    #index{
        padding: 10px;
    }

    #index img{
        width: 80%;
    }

    .center{
        width: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .center p{
        margin-bottom: 20px;
    }

    select {
        height: 30px;
        padding: 5px 8px;
        width: 80%;
        margin: 10px 0 20px 0;
        color: #3D348B;
    }

    #curiosities1, #curiosities2, #curiosities3 {
        width:70%;
        margin-top: 10px;
    }

    .percentBox {
        background-color: #329F5B;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    } 

}
